<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/styles.css" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header id="header" class="border-end w-100 h-100">
      <side-bar brandName="<%= brandName %>"></side-bar>
      <nav-bar></nav-bar>
    </header>
    <main>
      <h2>Halaman Tambah Cerita Masih Dibuat</h2>
    </main>
    <footer>
      <!-- !Todo:Something -->
    </footer>
  </body>
</html>
